# === Tmux Options ===
# C-b is not acceptable, due to emacs, bash, and vim
#unbind-key C-b
set-option -g prefix C-'\'
#set-option -g status on
#set-option -g status-interval 2
#set-option -g status-justify "centre"
set-option -g history-limit 100000
set-option -g allow-rename off
set -g status-bg cyan
set-option -g default-command bash
set-window-option -g mode-keys vi
