#-------------------------------------------------------#
# Tmux Plugins Conf File
#-------------------------------------------------------#

# === Tmux Plugin Manager (TPM) ===
#
set -g @plugin 'tmux-plugins/tpm'

####################################
# === My Custom Plugins ===
####################################

# --- Tmux sensible ---
set -g @plugin 'tmux-plugins/tmux-sensible'

# --- Tmux save sessions ---
set -g @plugin 'tmux-plugins/tmux-resurrect'

# --- Tmux Dracula Theme ---
set -g @plugin 'dracula/tmux'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'
