#-------------------------------------------------------#
# Tmux Resurrect Plugin Configuration
#-------------------------------------------------------#

# enable the resurect plugin
set -g @resurrect-capture-pane-contents 'on'
