####################### tmux.conf ################################
# This file is managed with the ansible role mrbrandao.tmux
# Any manual changes in this file could be lost.
#
# The order of loading configuration matters.
# Files loaded by last have precedence of the ones loaded first.
#
# Commands and Settings in the `mycustom-powerline.conf`
# will take precedence over the `powerline.conf`.
#
# e.g:
# source-file .tmux/powerline.conf
# source-file .tmux/mycustom-powerline.conf
#
# Tmux Links and Tips:
# ----------------------
# [The BindKeys Cheat Sheet](https://tmuxcheatsheet.com/)
# [Theming and Active Panel Colors](https://tech.serhatteker.com/post/2019-06/tmux-focus/)
# [Theming and Colors](http://www.deanbodenham.com/learn/tmux-pane-colours.html)
# [Colour Theme](https://cassidy.codes/blog/2019-08-03-tmux-colour-theme/)
##################################################################


#-------------------------------------------------------#
# Plugins Settings
#-------------------------------------------------------#
source-file {{ ansible_facts['env']['HOME'] }}/.tmux/resurrect.conf
source-file {{ ansible_facts['env']['HOME'] }}/.tmux/powerline.conf

#-------------------------------------------------------#
# Options
#-------------------------------------------------------#
source-file {{ ansible_facts['env']['HOME'] }}/.tmux/options.conf

#-------------------------------------------------------#
# Key Bindings
#-------------------------------------------------------#
source-file {{ ansible_facts['env']['HOME'] }}/.tmux/keybindings.conf

#-------------------------------------------------------#
# Theme and Colors
#-------------------------------------------------------#
source-file {{ ansible_facts['env']['HOME'] }}/.tmux/themecolors.conf

#-------------------------------------------------------#
# Include Plugins 
#-------------------------------------------------------#
source-file {{ ansible_facts['env']['HOME'] }}/.tmux/plugins.conf

